# Analysis of the Target Audience

I have a [community](https://vk.com/therealtalkme) of developers, designers and marketers in the [vk.com](https://vk.com). The community has a few more than 1000 followers. They also follow other groups and communities which can give us some interesting information. Having information about this groups we can:
1. Find a new audience that interested in our community.
2. Learn what interests our users have.

For this goals, I selected a list of groups and communities that have users similar to my community. The list is simple .csv file.

In [1]:
import os
import pandas as pd
import numpy as np

In [9]:
file_path = '../../tmp/groups.csv'
df = pd.read_csv(file_path)

In [11]:
df.head()

,Name,Common users,ID,URL
0,Яндекс,51,11283947,https://vk.com/club11283947
1,Роскосмос,22,30315369,https://vk.com/club30315369
2,AIESEC в России,10,28,https://vk.com/club28
3,The Village,21,4325149,https://vk.com/club4325149
4,Tesla Target. SMM для бизнеса,6,86171265,https://vk.com/club86171265

In [16]:
df = df.sort_values('Common users', ascending=False)
df.head()

,Name,Common users,ID,URL
661,Библиотека программиста,305,54530371,https://vk.com/club54530371
184,Типичный программист,302,30666517,https://vk.com/club30666517
34,Habr,282,20629724,https://vk.com/club20629724
261,Apple,239,35145657,https://vk.com/club35145657
958,iOS Ninja,190,92354563,https://vk.com/club92354563

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10401 entries, 661 to 10400
Data columns (total 4 columns):
Name            10400 non-null object
Common users    10401 non-null int64
ID              10401 non-null int64
URL             10401 non-null object
dtypes: int64(2), object(2)
memory usage: 406.3+ KB

In [18]:
df.describe()

       Common users            ID
count  10401.000000  1.040100e+04
mean       8.481492  5.428093e+07
std       13.169015  3.248454e+07
min        3.000000  1.000000e+00
25%        3.000000  3.216516e+07
50%        5.000000  4.401792e+07
75%        8.000000  6.830999e+07
max      305.000000  1.646846e+08